.background-references {
  background-color: var(--dark-mode);
}

.card-container {
  text-align: center;
  margin: 1rem auto;
}

.card-container__tutor {
  border-radius: 50%;
  object-fit: cover;
  height: 150px;
  width: 150px;
  margin: auto;
}

.information-tutor__name {
  font-size: 1.1rem;
}

.information-tutor__position {
  font-size: .8rem;
}

.information-tutor__company {
  font-size: .8rem;
}

.information-tutor__email {
  color: var(--light-mode);
  font-size: .9rem;
}

@media screen and (min-width: 992px){
  .background-references{
    background-color: var(--dark-mode-contrast);
    padding: 1rem 0;
  }

  .card-container {
    display: grid;
    grid-template-columns: 200px 1fr;
    margin: 1rem auto;
  }

  .card-container.m-card{
    width: 80%;
    min-width: 400px;
  }

  .information-tutor {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
  }
}