<div class="aux-div">
  <div class="background-about-me" id="about-me" data-scroll-spy>
    <article class="about-me-container">
      <header class="about-me-container__header">
        <h2 class="about-me-container__title">Acerca de mi</h2>
      </header>
      <p class="about-me-container__paragraph">
        Como recién egresado en <strong>Ingeniería en Informática</strong>, del instituto profesional <strong>Duoc UC</strong>, me encuentro en búsqueda de mi practica profesional para poder aplicar mis conocimientos y, al mismo tiempo, <strong>desarrollarme profesionalmente</strong>, y así, adquirir la experiencia para cumplir las funciones de un <strong>full stack</strong>.
      </p>
      <p class="about-me-container__paragraph">
        En el transcurso de mis estudios, tuve la oportunidad de trabajar junto a extraoridinarias personas, quienes aportaron tantos conocimientos técnicos como valores éticos.
      </p>
    </article>
  </div>
</div>