<nav class="bottom-navbar-container">
  <ul class="bottom-links-container">
    <li class="bottom-links-container__link">
      <a href="#introduction" class="bottom-links-container__content">
        <img src="app/assets/image/bottomNavbar/fi-rr-portrait.svg" alt="Quien Soy" class="bottom-links-container__img a-opacity-active">
      </a>
    </li>
    <li class="bottom-links-container__link">
      <a href="#tecnologies" class="bottom-links-container__content">
        <img src="app/assets/image/bottomNavbar/code.svg" alt="Tecnologías" class="bottom-links-container__img">
      </a>
    </li>
    <li class="bottom-links-container__link">
      <a href="#projects" class="bottom-links-container__content">
        <img src="app/assets/image/bottomNavbar/fi-rr-folder.svg" alt="Proyectos" class="bottom-links-container__img">
      </a>
    </li>
  </ul>
</nav>
