<footer class="footer-container">
  <img src="app/assets/image/logo.svg" alt="Leonel_Logo" class="footer-container__logo">
  <p class="footer-container__text">Leonel Espinoza &copy; 2021</p>
  <p class="footer-container__attributions">
    Iconos proporcionados por
    <a href="icon-icons.com" class="footer-container__link" rel="noopener" target="_blank">icon-icons-com</a>,
    <a href="https://www.flaticon.es/autores/dave-gandy" title="Dave Gandy" class="footer-container__link" rel="noopener" target="_blank">Dave Gandy</a> y
    <a href="https://www.freepik.com" title="Freepik" class="footer-container__link" rel="noopener" target="_blank">Freepik</a> desde
    <a href="https://www.flaticon.es/" title="Flaticon" class="footer-container__link" rel="noopener" target="_blank">icon-icons.com</a> y
    <a href="https://www.flaticon.es/" title="Flaticon" class="footer-container__link" rel="noopener" target="_blank">www.flaticon.es</a>
    respectivamente.
  </p>
</footer>