<!-- summary long between 130 and 150 characters -->
<div class="background-projects" id="projects" data-scroll-spy>
  <article class="projects-container">
    <header class="projects-container__header">
      <h2 class="projects-container__title">Proyectos</h2>
    </header>
    <section class="grid-projects">
      <figure class="project-card m-card a-neomorph">
        <img src="app/assets/image/projects/bestFruit.png" alt="Best Fruit" class="project-card__image a-neomorph">
        <figcaption class="project-information">
          <h3 class="project-information__name">Best Fruit</h3>
          <p class="project-information__summary">
            Aplicación web creada para disminuir el alto riesgo de pérdidas generadas en el rubro de comercialización de frutas, causados por productos sobrantes.
          </p>
          <a href="https://github.com/leonex16/BestFruit" class="project-information__link a-opacity-active" rel="noopener" target="_blank">Ir al repositorio</a>
        </figcaption>
      </figure>
      <figure class="project-card m-card a-neomorph">
        <img src="app/assets/image/projects/yumbo.png" alt="Yumbo" class="project-card__image a-neomorph">
        <figcaption class="project-information">
          <h3 class="project-information__name">Yumbo</h3>
          <p class="project-information__summary">
            El objetivo de está pwa es ayudar a los cajeros con su productividad. Facilitando los códigos más solicitados cuando el producto no lo posea.
          </p>
          <a href="https://github.com/leonex16/yumbo" class="project-information__link a-opacity-active" rel="noopener" target="_blank">Ir al repositorio</a>
        </figcaption>
      </figure>
      <figure class="project-card m-card a-neomorph">
        <img src="app/assets/image/projects/metaTagGenerator.png" alt="Meta Tag Generator" class="project-card__image a-neomorph">
        <figcaption class="project-information">
          <h3 class="project-information__name">Meta Tag Generator</h3>
          <p class="project-information__summary">Generador de etiquetas <i>meta</i> para la optimización del SEO en los sitios web.</p>
          <a href="" class="project-information__link a-opacity-active" rel="noopener" target="_blank">Ir al repositorio</a>
        </figcaption>
      </figure>
    </section>
  </article>
</div>