<div class="background-references">
  <figure class="card-container m-card a-neomorph">
    <img src="/app/assets/image/tutors/nelsonHernandez.jpeg" alt="Nelson Hernández" class="card-container__tutor a-neomorph">
    <figcaption class="information-tutor">
      <h3 class="information-tutor__name">Nelson Hernández</h3>
      <p class="information-tutor__position">Ingeniero de Integración</p>
      <p class="information-tutor__company">Punto Ticket</p>
      <a href="mailto:nhernandez@puntoticket.cl" class="information-tutor__email">nhernandez@puntoticket.cl</a>
    </figcaption>
  </figure>
  <figure class="card-container m-card a-neomorph">
    <img src="/app/assets/image/tutors/ivannaFuentes.jpeg" alt="Ivanna Fuentes" class="card-container__tutor">
    <figcaption class="information-tutor">
      <h3 class="information-tutor__name">Ivanna Fuentes</h3>
      <p class="information-tutor__position">Auditor Senior TI</p>
      <p class="information-tutor__company">Pwc Chile</p>
      <a href="mailto:ivanna.fuentesc@gmail.com" class="information-tutor__email">ivanna.fuentesc@gmail.com</a>
    </figcaption>
  </figure>
  <figure class="card-container m-card a-neomorph">
    <img src="/app/assets/image/tutors/gracielaMadrid.jpg" alt="Graciela Madrid" class="card-container__tutor">
    <figcaption class="information-tutor">
      <h3 class="information-tutor__name">Graciela Madrid</h3>
      <p class="information-tutor__position">Jefa de Cajas</p>
      <p class="information-tutor__company">Walmart Chile</p>
      <a href="mailto:graziella.m3@gmail.com" class="information-tutor__email">graziella.m3@gmail.com</a>
    </figcaption>
  </figure>
</div>