<div class="backgound-tecnologies" id="tecnologies" data-scroll-spy>
  <article class="tecnologies-container">
    <header class="tecnologies-container__header">
      <h2 class="tecnologies-container__title">Tecnologías</h2>
    </header>
    <section class="tecnologies-container__categories">
      <section class="category-container m-card a-neomorph">
        <h3 id="essentials" class="category-container__title">Essentials</h3>
      </section>
      
      <section class="category-container m-card a-neomorph">
        <h3 id="frontEnd" class="category-container__title">Front-End</h3>
      </section>
      
      <section class="category-container m-card a-neomorph">
        <h3 id="backEnd" class="category-container__title">Back-End</h3>
      </section>
      
      <section class="category-container m-card a-neomorph">
        <h3 id="databases" class="category-container__title">Databases</h3>
      </section>

      <section class="category-container m-card a-neomorph">
        <h3 id="preprocessors" class="category-container__title">Preprocessors</h3>
      </section>
      
      <section class="category-container m-card a-neomorph">
        <h3 id="prototypingTools" class="category-container__title">Prototyping Tools</h3>
      </section>

      <section class="category-container m-card a-neomorph">
        <h3 id="others" class="category-container__title">Others</h3>
      </section>
    </section>
  </article>
</div>