<nav class="top-navbar-container">
  <div class="top-navbar-container__logo">
    <img src="app/assets/image/logo.svg" alt="Logo" class="top-navbar-logo__image">
  </div>
  <ul class="top-links-container">
    <li class="top-links-container__link">
      <a href="#introduction" class="top-links-container__text a-opacity-active">Quien Soy</a>
    </li>
    <li class="top-links-container__link">
      <a href="#tecnologies" class="top-links-container__text">Tecnologías</a>
    </li>
    <li class="top-links-container__link">
      <a href="#projects" class="top-links-container__text">Proyectos</a>
    </li>
  </ul>
</nav>